<ul class="list-group">
  <li class="list-group-item list-group-item-info" (click)="addMarker()">
    + Agregar
  </li>
  <li
    *ngFor="let marker of markers; let i = index"
    class="list-group-item"
    [ngStyle]="{ 'background-color': marker.color, 'user-select': 'none' }"
    (click)="goToMarker(marker.marker)"
    (dblclick)="removeMarker(i)"
  >
    Marcador {{ i + 1 }}
  </li>
</ul>

<div #myMap class="fullscreen map-container"></div>
