<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h1>Lista de propiedades</h1>
    <hr />
    <div class="row container">
      <div *ngFor="let property of properties" class="col-4 mb-2">
        <div class="card">
          <app-mini-map
            [lngLat]="property.lngLat"
            class="card-img-top"
          ></app-mini-map>
          <div class="card-body">
            <h5 class="card-title">{{ property.title }}</h5>
            <p class="card-text">{{ property.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
