/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
}

app-menu {
  position: fixed;
  top: 1.3rem;
  left: 1.3rem;
  z-index: 9999;
}

.fullscreen {
  height: 100%;
  width: 100%;
}
